.containerBtn{
    display: flex;
    justify-content: center;
    width: 350px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.btnAdicionar{
    cursor: pointer;
    width: 364px;
    height: 60px;
    /*margin-left: 266px;
    margin-right: 266px;
    margin-top: 34px;*/
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,253,55,1) 100%);
    border-radius: 50px;
    border: none;
    font-size: 30px;
    color: #ffffff;
}
.btnAdicionar:hover{
    background-color: transparent;
    border: solid 2px rgba(32, 228, 107, 0.8);
    color: rgba(253, 253, 253, 0.8);
}