.containerBtn{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
}

.btnAdicionar{
    cursor: pointer;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,253,55,1) 100%);
    width: 300px;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    color: black;
}
.btnAdicionar:hover{
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgb(11, 167, 19) 100%);
}