
.Card {
  border-radius: 10px;
  padding-left: 26px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  color: rgb(250, 250, 250);
  background-color: rgba(0, 0, 0, 0.534);
}
.imgCarro{
  max-width: 100%;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.icons{
  display: flex;
  justify-content: end;
  
}
.icon{
  cursor: pointer;
  height: 30px;
}

.marca{
  font-size: 20px;
  padding-bottom: 10px;
  color: rgb(14, 223, 118);
}

.desc{
  color: rgb(14, 223, 118);
  font-weight:bolder;
  font-size: 20px;
}

p {
  font-weight: bolder;
  font-size: 18px;
}