
.Card {
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  color: rgb(32, 32, 32);
  background-color: rgba(255, 255, 255, 0.534);
  box-shadow: 0 0 1em rgb(92, 92, 91);
}
.imgCarro{
  max-width: 100%;
  display: block;
  padding-bottom: 10px;
}

.icons{
  display: flex;
  justify-content: end;
  padding: 10px;
  
}
.icon{
  cursor: pointer;
  height: 30px;
}

.marca{
  font-size: 20px;
  color: rgb(5, 5, 5);
}
.valor{
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.desc{
  color: rgb(0, 0, 0);
  font-weight:bolder;
  font-size: 1em;
}

.Informacaoes{
  display: flex;
  margin-top: 15px;
}

.anoKm{
  display: flex;
  justify-content: space-between;
  color:rgb(100, 99, 99)
}
.anoKm > p {
  color:rgb(100, 99, 99)
}

p {
  font-weight: bolder;
  font-size: 1em;
  color:rgb(100, 99, 99)
}